@media (max-width: 1000px) {
	.menu__list {
		display: block;
		position: absolute;
		background-color: #fff;
		left: 20%;
		right: 20%;
		top: -350px;
		z-index: 5;
		transition: all 0.5s;
	}
	.menu__list.menu__list--active {
		top: 75px;
	}
	.menu__btn {
		display: block;
		z-index: 10;
	}
	.menu {
		margin: 12px 20px 0px auto;
		&__item:not(:last-child) {
			margin: 0px 0px 0px 0px;
		}
	}
	.menu__link {
		display: block;
		padding: 20px 0px;
		text-align: center;
		&:hover {
			border: none;
		}
	}
}

@media (max-width: 745px) {
	.title {
		font-size: 52px;
		max-width: 100%;
		padding: 50px 0px 0px 0px;
		text-align: center;
	}
}

@media (max-width: 470px) {
	.header-slider {
		padding-left: 50px;
	}
	.slick-dots {
		left: 5px;
	}
	.slick-prev,
	.slick-next {
		left: 9px;
	}
	.header__content-btn {
		margin-left: 50px;
	}
	.title {
		font-size: 34px;
		padding-top: 70px;
	}
	.logo__img {
		width: 80%;
	}
}

@media (max-width: 360px) {
	.title {
		padding-top: 100px;
	}
	.header__top {
		padding-right: 0px;
		padding-left: 0px;
	}
	.menu__list {
		left: 5%;
		right: 5%;
	}
	.header-slider {
		padding-top: 0;
		padding-left: 0;
	}
	.header__content-btn {
		margin-left: 0;
	}
	.logo__img {
		width: 70%;
	}
}
