// Основные настройки страницы
body {
	font-family: "Roboto", sans-serif;
	// font-family: "Roboto Slab", serif;
	background: #fff;
	color: #232222;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}

[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Header
.header {
	min-height: 100vh;
	background-image: url(./../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center 40px;

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 15px 43px 0px 16px;
	}

	// .header__content

	&__content {
	}

	// .header__content-btn

	&__content-btn {
		display: inline-block;
		font-family: "Roboto Slab", serif;
		background: rgba(255, 255, 255, 0.5);
		color: #fff;
		border-radius: 20px;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.33;
		padding: 14px 88px;
		margin: 0px 0px 0px 112px;
		transform: translateY(-130px);
	}

	// .header__content-box

	&__content-box {
		display: flex;
		justify-content: flex-end;
		margin: 0px 30px 0px 0px;
		font-size: 18px;
		line-height: 1.16;
		color: #ffffff;
		transform: translateY(-50px);
	}

	// .header__content-link

	&__content-link {
		&--activ {
			font-weight: 700;
		}
	}
}

.header-slider {
	max-width: 522px;
	padding: 57px 0px 135px 112px;
	// .header-slider__item

	&__item {
	}

	// .header-slider__text

	&__text {
		font-size: 18px;
		line-height: 1.2;
		color: #ffffff;
		margin: 0px 0px 25px 0px;
	}
}

.slick-prev,
.slick-next {
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	left: 40px;
}
.slick-prev {
	top: 0;
}
.slick-next {
	bottom: 0;
}
.slick-dots {
	position: absolute;
	left: 35px;
	top: 58px;
	bottom: 55px;
	li {
		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}
		&:nth-child(n + 10) button::before {
			content: "";
		}
	}
	button {
		cursor: pointer;
		background-color: transparent;
		font-size: 24px;
		line-height: 1.16;
		color: rgba(255, 255, 255, 0.5);
		&::before {
			content: "0";
		}
	}
}
.slick-active {
	button {
		color: rgb(255, 255, 255);
	}
}

.logo {
	// .logo__img

	&__img {
	}
}
.menu {
	margin: 16px 0px 0px 0px;

	// .menu__list

	&__list {
		display: flex;
		// justify-content: space-between;
	}

	// .menu__item

	&__item {
		// transition: all 10s ease;
		&:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
	}

	// .menu__link

	&__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.16;
		color: #001e64;
		text-transform: uppercase;
		&:hover {
			border-bottom: 1px solid #001e64;
		}
	}
}
.phone {
	margin: 11px 0px 0px 0px;

	// .phone__img

	&__img {
	}
}

.title {
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.31;
	color: #001e64;
	max-width: 589px;
	padding: 50px 0px 0px 112px;
	margin: 0px 0px 50px 0px;
}

// Product

.product {
	padding: 100px 0px 0px 0px;

	// .product__container

	&__container {
	}

	// .product__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	// .product__name

	&__name {
		width: 510px;
		text-align: center;
		// background-color: burlywood;
		// padding: 41px 0px 0px 0px;
	}

	// .product__name-item

	&__name-item {
		font-family: "Roboto Slab", serif;
		font-size: 24px;
		line-height: 1.33;
		cursor: pointer;
		&:not(:last-child) {
			margin: 30px 0px 0px 0px;
		}
		&.slick-current {
			font-weight: 700;
			font-size: 36px;
			// line-height: 1.3;
			color: #001e64;
		}
	}

	&-next,
	&-prev {
		cursor: pointer;
	}

	// .product__content

	&__content {
		font-family: "Roboto Slab", serif;
		width: 600px;
		// background-color: red;
	}

	// .product__content-item

	&__content-item {
		font-family: "Roboto", sans-serif;
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
		span {
			display: block;
			margin: 0px 0px 10px 0px;
			font-size: 18px;
			line-height: 1.33;
			color: #001e64;
		}
	}

	//.product__content__box

	&__content__box {
		display: flex;
		// align-items: flex-start;
		column-gap: 48px;
	}

	// .product__content-img

	&__content-img {
		// object-fit: cover;
	}

	// .product__content-list

	&__content-list {
		width: 291px;
	}

	// .product__content-title

	&__content-title {
		font-size: 24px;
		line-height: 1.33;
		color: #001e64;
		margin: 0px 0px 20px 0px;
		padding: 10px 0px 0px 0px;
	}

	// .product__content-text

	&__content-text {
		font-family: "Roboto", sans-serif;
		margin: 0px 0px 27px 0px;
	}

	// .product__content-btn

	&__content-btn {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.33;
		text-transform: uppercase;
		cursor: pointer;
		color: #001e64 !important;
		padding: 12px 85px;
		background-color: transparent;
		border: 1px solid #001e64;
		border-radius: 20px;
	}
}

// Benefits

.benefits {
	background: url("../img/benefits-bg.png") top center / cover no-repeat;
	padding: 290px 0px 95px 0px;

	// .benefits__container

	&__container {
	}

	// .benefits__items

	&__items {
		display: flex;
		justify-content: space-around;
	}

	// .benefits__item

	&__item {
		background: url("../img/benefits-item-bg.svg") center / cover no-repeat;
		font-family: "Roboto Slab", serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.33;
		color: #fff;
		width: 180px;
		min-height: 165px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

// Info

.info {
	padding: 100px 0px;

	// .info__container

	&__container {
	}

	// .info__items

	&__items {
		display: flex;
		flex-direction: column;
		// align-items: center;
		row-gap: 50px;
		margin: 0px 0px 100px 0px;
	}

	// .info__item

	&__item {
		display: flex;
		justify-content: space-between;
		column-gap: 109px;
	}

	// .info__item--text-right

	&__item--text-right {
		.info__item-title {
			max-width: 420px;
		}
		.info__item-content {
			margin: 0px 180px 0px 0px;
		}
	}

	// .info__item-content

	&__item-content {
	}

	// .info__item-title

	&__item-title {
		font-family: "Roboto", sans-serif;
		max-width: 490px;
		font-size: 24px;
		color: #001e64;
		margin: 0px 0px 30px 0px;
	}

	// .info__item-text

	&__item-text {
		max-width: 420px;
		margin: 0px 0px 20px 0px;
	}

	// .info__item-text--bottom

	&__item-text--bottom {
		margin: 0px 0px 50px 0px;
	}

	// .info__item-img

	&__item-img {
	}

	// .info__blockquote

	&__blockquote {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}

	&__blockquote-img {
	}

	&__blockquote-text {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		line-height: 1.33;
		max-width: 560px;
		margin: 0 auto;
	}
	
}
